<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>コーピング一覧</title>
</head>
<body>
	<h1 th:text="|${userName}さんコーピング一覧|"></h1>
	
	<a th:href="@{/coping/form}">新規登録</a>
	<p th:if="${message}" th:text="${message}" style="color:blue;">登録/編集/削除メッセージ</p>
	<table border="1" style="width:80%; text-align: center;">
		<thead>
			<tr>
				<th style="width: 20%;">項目</th>
				<th style="width: 30%;">備考</th>
				<th style="width: 15%;">カテゴリ</th>
				<th style="width: 10%;">実行回数</th>
				<th style="width: 5%;">編集</th>
				<th style="width: 5%;">削除</th>
			</tr>
		</thead>
		<tbody>
			<tr th:each="coping:${copings}">
				<td th:text="${coping.title}"></td>
				<td th:text="${coping.description}"></td>
				<td th:text="${coping.category}"></td>
				<td th:text="${coping.execution_count}"></td>
				<td>
					<a href="#" th:onclick="|event.preventDefault(); document.getElementById('hiddenEditForm-' + ${coping.coping_id}).submit();|">
					                編集
					            </a>
					            <form th:id="|hiddenEditForm-${coping.coping_id}|" th:action="@{/coping/edit}" method="post">
					                <input type="hidden" name="copingId" th:value="${coping.coping_id}">
					            </form>

				</td>
				<td>

					<a href="#" th:onclick="|event.preventDefault(); if(confirm('本当に削除しますか？')) { document.getElementById('hiddenDeleteForm-' + ${coping.coping_id}).submit(); }|">削除</a>

									            <form th:id="|hiddenDeleteForm-${coping.coping_id}|" th:action="@{/coping/delete}" method="post">
									                <input type="hidden" name="copingId" th:value="${coping.coping_id}">
									            </form>
								 

				</td>
			</tr>
		</tbody>
	</table>
	<br>
	<!--ログアウト-->
	<form th:action="@{/logout}" method="post">
		<input type="submit" value="ログアウト">
	</form>
</body>
</html>