# Gradle
.gradle
build/
!gradle/wrapper/gradle-wrapper.jar

# IDE関連
.idea/
*.iml
*.ipr
*.iws
.vscode/
.sts4-cache/
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
bin/
out/

# ログ・一時ファイル
*.log
*.tmp
hs_err_pid*

# 環境依存ファイル
.env
application-*.yml
!application-sample.yml

# NetBeans
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
